@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}

a{
    text-decoration: none;
}

.home_page{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    color:rgb(0, 0, 0);
    min-height: 100vh;
    width: 100%;
    font-family: "roboto";
    overflow: hidden;
}

.main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    flex: 1;
}

.container{
    position: relative;
    margin: 10px 0;
    background: rgb(255, 255, 255);
    width: 80vw;
    border-radius: 14px;
}
.container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container a:hover{
    color: rgb(255, 153, 0);
}

.container p{
    justify-self: center;
}


.log_page{
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    min-height: 100vh;
    color:rgb(255, 255, 255);
    font-family: "roboto";
    background-image: linear-gradient(to right, #35234b 0% 10%,#2975bf 60% 70%,#3d54b1 80% 100%);
    background:linear-gradient(to right, #362d6f,#9f3c54);
    overflow: hidden;
}

.log_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    /* margin: 20px auto; */
    order: 2;
    width: 38rem;
    height: 32rem;
    background: rgba(255,255,255,.1);
    border-radius: 7px;
    /* border: solid 5px rgba(0, 0, 0,.5); */
    box-shadow: 100px 100px 100px rgb(0, 0, 0,.2);
}


#google_login{
    position: relative;
}
input{
    position: relative;
    background: #ebddf0;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

#pass{
    font-size: 20px;
}

#repeat_pass{
    font-size: 20px;
}



.log_page input::placeholder{
    color: black;
    opacity: 0.7;
    font-size: 16px;
}

    .log_page button{
    position: relative;
    font-family: "roboto";
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background: #ebddf0;
    cursor: pointer;
    color: black;
}
.log_page h1{   
    display: flex;
    top: 0;
    text-align: left;
}

.product{
    position: relative;
    max-width: 250px;
    height: 250px;
    padding: auto;
}


.categories{
    position: relative;
    background: rgb(220, 212, 212);
    width: 80vw;
    min-height: 300px;
    border-radius: 14px;
    margin: 10px;
}
.categories a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.categories a:hover{
    color: rgb(255, 153, 0);
}

.category{
    position: relative;
    width: fit-content;
    max-height: 150px;
    border-radius: 14px;
    margin: auto;
}
.footer{
    position: relative;
    width: 100%;
    height: 112px;
    background: black;
    margin-top: auto;
}
.footer p{
    color: white;
    padding: 10px;
}



.product_container{
    position: relative;
    display: flex;
    width: 95vw;
    min-height: 100vh;
    height: fit-content;
    margin: 20px 0px;
    border-radius: 14px;
    background: white;
}

.the_product{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.product_image{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 500px;
}

.the_product_image{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;

}

.price{
    
    color: #d00000;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: 30px;
}

.price p{
    font-size: 3.125rem;
}

.price button{
position: relative;

    font-family: "roboto";
    font-size: 30px;
    width: 170px;
    height: 70px;
    border: none;
    border-radius: 7px;
    background: rgb(255, 208, 0);

    cursor: pointer;
    color: black;
}
.price button:hover{
    background: rgb(255, 183, 49);
}

.opis{
    justify-self: center;
    margin: 10px 30px;
    margin-left: auto;
}

.pogrubione{
    font-weight: bold;
    font-size: 18px;
}


.edytowac{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50px;
    padding: 0;

}

.przycisk{
    height: 100%;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    font-family: "roboto";
    font-size: 30px;
   
    border: none;
    border-radius: 7px;
    background: rgb(0, 145, 255);

    color: black;
}




#small{
width: 200px;
}



#dodaj_towar{
    position: relative;
    font-family: "roboto";
    font-size: 30px;
    width: 170px;
    height: fit-content;
    border: none;
    border-radius: 7px;
    background: rgb(0, 145, 255);
    cursor: pointer;
    color: black;
}


.product_container input{
    position: relative;
    background: #dbd3d3;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px 10px;
    margin-bottom: 20px;

}

.edit_opis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
}

.edit_opis input::placeholder{
    color: rgb(0, 0, 0);
    font-size: 16px;
}